$base-green: #69a507;
$dark-green: #012406;

$featured: #9d196b;
$highlight: #ca7f26;

$link-hover: #c3dc41;
$link-active: #FFE066;

$link-active-text: #535353;
$link-inactive-text: #97bd00;

$gradient-background: linear-gradient(90deg, #a4cc25, #64a407)


