// colors
$black: #000000;
$white: #ffffff;

$green-0: #a4cc25;
$green-1: #c3dc41;
$green-2: #9cb034;
$green-3: #a4cc25;
$green-4: #64a407;
$green-5: #97bd00;
$green-6: #3f6304;
$base-green: #69a507;
$dark-green: #012406;

$yellow: #FFE066;
$orange: #ca7f26;
$purple: #9d196b;

$lighter-gray: #d9deda;
$light-gray: #999999;
$dark-gray: #535353;

// nav background
$gradient-background: linear-gradient(90deg, $green-3, $green-4);